<h2>{{Heading}}</h2>

<h4>Student</h4>
<hr/>

<h1>{{requestId}}</h1>

<form class="col-sm-12 form-horizontal">
    <h4>{{message}}</h4>    
    
    <div class="col-sm-12 form-group">
        <label class="control-label col-sm-1">Id</label>
        <div>
            <input class="form-control" type="text" ng-model="student.Id" required="required" readonly="readonly"/>
        </div>
    </div>
    <div class="col-sm-12 form-group">
        <label class="control-label col-sm-1">Name</label>
        <div>
            <input class="form-control" type="text" ng-model="student.Name" required="required" />
        </div>
    </div>
    <div class="col-sm-12 form-group">
        <label class="control-label col-sm-1">Phone</label>
        <div>
            <input type="text" ng-model="student.Phone" class="form-control" required="required"/>
        </div>
    </div>
    <div class="col-sm-12 form-group">
        <label class="control-label col-sm-1">Address</label>
        <div>
            <input type="text" ng-model="student.Address" class="form-control" required="required"/>
        </div>
    </div>
    <div class="col-sm-12 form-group">
        <label class="control-label col-sm-1"></label>
        <div>
            <button ng-click="save()" class=" btn btn-primary">Save</button>
        </div>
    </div>
    
</form>

<span class="text-center text-primary">{{Notification}}</span>

<a href="#home">Back</a>